@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'open Sans',sans-serif;
    accent-color: var(--primary);
    /*kleuren*/
--textBlack: #000000;
--textWhite: #ffffff;
--primary: #E30613;
--secondary: #389CC7;
--tertiary: #FCCB00;
}

body {
    width: 100vw;

}

h2 {
    font-family: 'open Sans',sans-serif;
    font-size: 3em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    width: 80%;
    
}

.label {
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 1em;
    
}

.tentoonstelling {
    grid-column: 2; /* Align with the image */
    grid-row: 2; /* Bottom row */
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: #000000;
    color: var(--textWhite);
}
 
.tentoonstelling img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    position: relative;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1; /* Top row */
}

.tag { 
    font-size: 1rem;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 1em;
    text-align: center;
    background-color: #ffffff;
    color:var(--textBlack);
}

.sidebar {
    position: sticky;
    margin:0;
    top: 2em;
    z-index: 2;
    padding-inline:2rem;
    padding-left: 2%;
    padding-bottom: 5px;
    writing-mode:vertical-lr;
    color:white;
    font-size:4em;
    font-weight:400;
    line-height:2rem;
}

.visually_hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.livestream {
    background-color: #000000;
    color: var(--textWhite);
    
}

.livestream img {
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.magazine {
    background-color: var(--secondary);
}

.support {
    background-color: #000000;
    color: var(--textWhite);
}

.artworks {
    background-color: var(--textWhite);
}

.visitFoam {
    background-color: var(--tertiary);
}

a {
    border: 2px solid #ffffff;
    background-color: #000000;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2em;
}

@media (max-width: 768px) {
.tentoonstelling { grid-template-columns: repeat(2, 1fr); }
}



footer {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}