@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /*kleuren*/
--textBlack: #000000;
--textWhite: #ffffff;
--primary: #E30613;
--secondary: #389CC7;
--tertiary: #FCCB00;
}

h3 {
    font-family: 'open Sans',sans-serif;
    font-size: 45px;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--primary);
}

.tentoonstelling {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 7;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    background-color: #000000;
    color: var(--textWhite);
}
 
.img-highlight { 
    grid-area: 1 / 2 / 5 / 6; 
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag { grid-area: 5 / 2 / 6 / 3; }
.date { grid-area: 5 / 3 / 6 / 4; }
.div4 { grid-area: 6 / 4 / 7 / 6; }
.div5 { grid-area: 7 / 2 / 8 / 6; }


.tag {
    border-style: solid;
    border-radius: 1em;
    position: relative;
    text-align: center;
    background-color: #ffffff;
    padding-block: 5px;
    color:var(--textBlack);
}

.sidebar {
    position: sticky;
    margin:0;
    padding-inline:2rem;
    padding-left: 2%;
    padding-bottom: 5px;
    writing-mode:vertical-lr;
    color:white;
    font-size:4em;
    font-weight:400;
    line-height:2rem;
}

button {
    border: 2px solid #ffffff;
    background-color: #000000;
    color: white;
    padding: 2em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2em;
}


@media (max-width: 768px) {
    .exhibition-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .sidebar {
        display: none;
    }

    .content {
        text-align: center;
        align-items: center;
    }
}