@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'open Sans',sans-serif;
    accent-color: var(--primary);
    /*kleuren*/
}

:root {
--textBlack: #000000;
--textWhite: #ffffff;
--primary: #E30613;
--secondary: #389CC7;
--tertiary: #FCCB00;

}

html{
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    transition: background 1s ease;
    background: #ffffff;
}

h2 {
    font-family: 'open Sans',sans-serif;
    font-size: 3em;
    font-weight: 500;
}

section {
    width: 100vw;
    height: auto;
    margin-top: 1em;
}

/* start nav */
nav {
    position: sticky;
    top: 2em;
    z-index: 10;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    width: auto;
    max-height: 46px;
}


.mainNav {
    background: var(--primary);
    display: flex;
    position: relative;
    margin: auto;
    min-width: 295px;
    
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation Boxes */

.nav-boxes {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
}
  
.nav-box {
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.3s ease;
}
  
.nav-box:hover {
    background: #333;
}

.shadow-toggle {
    box-shadow: 0 0 0 999em rgba(0,0,0,0.8);
}

/* Toggle Button */
.menu-toggle {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12px;
    width: 30px;
    cursor: pointer;    
}

.menu-bar {
    display: block;
    height: 3px;
    width: 100%;
    background: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav {
    display: flex;
    justify-content: space-around;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;    
}
  
.nav img {
    height: auto;
    width: 100px;
}

.nav a img {
   
    width: 35px;
    height: auto;
    color: var(--textWhite);
}

/* Dropdown Menu */
.nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 125px;
    background: var(--primary);
    padding: 2rem;
    list-style: none;
    display: none; /* Hidden by default */
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.nav-menu.open {
    display: flex;
}
  
.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-menu .date  {
    list-style:circle;
    font-size: 1rem;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 1em;
    text-align: center;
    
    background-color: #ffffff;
    color:var(--textBlack);
}
  
/* Open State for Toggle */
.menu-toggle.open .menu-bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}
  
.menu-toggle.open .menu-bar:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}


/* End Nav */


/* Content */
.tentoonstelling {
    background-color: black;
    padding: 20px;
    gap: 20px;
    padding-left: 5em;
    background-color: #000000;
    color: var(--textWhite); 
}

.container {
    display: grid; 
    grid-template-columns: 100px repeat(3fr); 
    grid-template-rows: repeat(5fr);
    gap: 0px 0px; 
    margin-top: 0;
    margin: 0 100px 100px 0;
    width: 100%;
    grid-template-areas: 
    ". IMG IMG IMG"
    ". IMG IMG IMG"
    ". IMG IMG IMG"
    ". label label label"
    ". text text text"; 
}

.learnmore {
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 1em;
    grid-area: label;
}

.contentButton {
    border: 2px solid #ffffff;
    background-color: #000000;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 2em;
}

.tentoonstelling img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    position: relative;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1; /* Top row */
    grid-area: IMG;
}

.tag { 
    font-size: 1rem;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 1em;
    text-align: center;
    max-width: fit-content;
    background-color: #ffffff;
    color:var(--textBlack);
}

.sidebar {
    position: sticky;
    margin:0;
    top: 2em;
    z-index: 2;
    padding-inline:2rem;
    padding-left: 2%;
    padding-bottom: 5px;
    writing-mode:vertical-lr;
    color:white;
    font-size:2em;
    font-weight:400;
    line-height:2rem;
}
/* programma */

.programma {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    gap: 1em;
}

.card img {
    max-height: auto;
    width: 40vmin;
    object-fit: cover;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.card-content:hover {
    color: var(--primary);
}

.livestream {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: var(--textWhite);
    gap: 1em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.livestream img {
    overflow: hidden;
    border-radius: 50%;
    height: 50vmin;
    margin-top: 1em;
    display: block;
    object-fit: cover;
    object-position: center center;
    padding: 0px;
    border: medium;
    min-width: 80%;
    max-width: 100%;
    min-height: 80%;
    max-height: 100%;
}

.magazine {
    background-color: var(--secondary);
}

.support {
    background-color: #000000;
    color: var(--textWhite);
    margin-top: 5em;
    margin-bottom: 5em;
    padding-left: 5em; 
    padding-top: 2em;
    padding-bottom: 2em;
}

.support a {
    display: flex;
    justify-content:center;
    align-items: center;
    width: auto;
    box-sizing: border-box;
    margin: 2rem;
    padding: 2em;
    gap: 1em;
    border: 2px solid #ffffff;
    background-color: #000000;
    color: var(--textWhite);
}

.selling {
    
}

.visitFoam {
    background-color: var(--tertiary);
}

.visitFoam h3 {
    font-size: 50px;
}

.visitFoam a {
    border: 1px;
    border-style: solid;
    color: var(--textBlack);
    background-color: #FCCB00;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* img */

.image[data-status="inactive"] {
    display: none;
}
  

@media (max-width: 768px) {

}




footer {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* extra */
.visually_hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

